<div class ="row">
  
    <div class= "col-md-6 col-md-offset-3">
      <h1 class="text-center"> Create Your Profile</h1>
      <p class="text-center"> Creating a Rad Dude profile will certify you as a bonafide Rad Dude!</p>
      <div class="well">
        <%= render 'form' %>
      </div>     
  </div>
</div>
      