<div class = 'row'>
  <div class = 'col-md-6 col-md-offset-3'>
    <h2> About Rad Dudes </h2>
    <p> Welcome to Rad Dudes. This is the official certification site for rad dudes; if you've got a profile, you're certified rad. If you're a rad dude, feel free to create an account, tell us why you're rad, and be a part of the community. Once you have an account you can also see who else is a rad dude, and gain inspiration on how to be more rad. With a paid account you can see the contact info to get ahold of other rad dudes, but you can see what makes each dude rad with a free account. </p>
    <div class = 'well'>
      <h2 class = 'faq-title text-center'>FAQ's</h2><br/>
      <h4 class = 'faq-question'>Interesting Fact: This stands for Frequently Asked Questions</h4>
      <h3 class = 'faq-question'>Q: I'm a girl, is there a site for rad chicks?</h3>
      <h4 class = 'faq-answer'>A: Yes and no. Rule number one of being a rad dude is respecting all kinds, we think this means being inclusive. Stated otherwise, this site is for everyone, we just thought Rad Dude had more of a ring to it. </h4>


      <h3 class = 'faq-question'>Q: Why would anyone take the time to build this?</h3>
      <h4 class = 'faq-answer'>A: Well this one is kind of a two part answer. Part one: this was an exercise in Ruby on Rails. Part two: we think sharing what makes you rad in a positive manner makes people feel good. This also lets other people get inspired by what makes you rad. Our goal is to make the world a more rad place, even if it means taking little steps.</h4>

    </div>
  </div>
</div>

